@model BookAVisit_App.ViewModels.AppointmentViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
}

@if (SignInManager.IsSignedIn(User))
{

    <img src="~/Images/testimonial-bg.jpg"  align="left" height="200" width="250" />
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-primary">  Umów wizytę @UserManager.GetUserAsync(User).Result.FirstName</h4>
            <br />
            <form asp-controller="Appointment" asp-action="CreateAppointment" asp-route-id="@Model.Doctor.DoctorID" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <p class="text-white bg-dark">Pacjent</p>
                    <p>Imie: @UserManager.GetUserAsync(User).Result.FirstName</p>
                    <p>Nazwisko: @UserManager.GetUserAsync(User).Result.LastName</p>
                    <p>Email: @UserManager.GetUserAsync(User).Result.Email
                    <p>Pesel: @UserManager.GetUserAsync(User).Result.Pesel
                    <p>UserName: @UserManager.GetUserAsync(User).Result.UserName
                </div>
                <div class="form-group">
                    <p class="text-white bg-dark">Lekarz</p>
                    <p>LekarzID: @Model.Doctor.DoctorID</p>
                    <p>Imie: @Model.Doctor.FirstName</p>
                    <p>Nazwisko: @Model.Doctor.LastName</p>
                    <p>Specjalizacja: @Model.Doctor.Specialty</p>
                </div>
                <input type="hidden" asp-for="@Model.Doctor.DoctorID" />
                <input type="hidden" asp-for="@Model.UserID" />
                <div class="form-group">
                    <p class="text-white bg-dark">Data wizyty</p>
                    <label asp-for="AppointmentDate" class="control-label">Proszę podać datę i godzinę wizyty</label>
                    <input asp-for="AppointmentDate" class="form-control" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                  
                    <button type="submit" value="save" class="btn btn-primary" method="post">Umawiam</button>
                    <a asp-controller="Doctor" asp-action="NewIndex" class="btn btn-outline-secondary">Powrót</a>
                </div>
            </form>
        </div>
    </div>
}

else
{

    <br>
    <img src="~/Images/Karolina.png" align="left" height="200" width="250" />
    <font size="5">Przed umówieniem wizyty, proszę się zalogować.</font>
    <br>
    <br>
    <font size="3">Czy już się rejestrowałeś? Proszę potwierdzić rejestrację.</font>
    <br>
    <br>
    <br>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj się</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Doctor" asp-action="NewIndex" class="btn btn-outline-secondary">Powrót</a>
        </li>
    </ul>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

