@model BookAVisit_App.Models.Appointment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
   
<img src="~/Images/testimonial-bg.jpg"  align="left" height="200" width="250" />
<hr />

<p class="h3">Dziękujemy za umówienie wizyty @UserManager.GetUserAsync(User).Result.FirstName</p>

<br />

<p class="h4">Podsumowanie Twojej wizyty </p>
<hr />
<br />
<br />
<br />
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

