@model IEnumerable<Doctor>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Lekarz List";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h4>Wybierz lekarza</h4>
    <hr />
    <br />

    @foreach (var doctor in Model)
    {
        var photoPath = "~/Images/" + (doctor.PhotoPath ?? "bg_3.jpg");


        <div class="card mb-3" style="max-width: 740px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@doctor.Specialty</h5>
                        <h5 class="card-title">lek. @doctor.FirstName @doctor.LastName</h5>
                        <p class="card-text">
                            @doctor.Description
                        </p>
                        <form>
                            <a asp-controller="Appointment" asp-action="Appointment" asp-route-id="@doctor.DoctorID" class="btn btn-outline-primary m-1" method="get">Umów wizytę</a>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Powrót</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <h4>Wybierz lekarza @UserManager.GetUserAsync(User).Result.FirstName</h4>
    <hr />
    <br />

    @foreach (var doctor in Model)
    {
        var photoPath = "~/Images/" + (doctor.PhotoPath ?? "bg_3.jpg");


        <div class="card mb-3" style="max-width: 740px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@doctor.Specialty</h5>
                        <h5 class="card-title">lek. @doctor.FirstName @doctor.LastName</h5>
                        <p class="card-text">
                            @doctor.Description
                        </p>
                        <form>
                            <a asp-controller="Appointment" asp-action="Appointment" asp-route-id="@doctor.DoctorID" class="btn btn-outline-primary m-1" method="get">Umów wizytę</a>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Powrót</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

